.main {
  background-color: #FFF;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px;
}

blogSection{
  padding: 20px;
}

.userSection{
  flex:1;
  flex-direction: row;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.colorText{
  color: #909090;
}


.profileName{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.likeSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.firstName{
  color: #5AA2BF;
}

.degree{
  font-size: 10pt;
  color: #909090;
}

.likeImg{
  height: 20px;
  width: 20px;
}

.imageSection{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.summarySection{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.insideSection{
  display: flex;
  flex-direction: row;
  font-size: 8pt;
  color: #808080;
}
.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.readTime{
  margin-left: 5px;
}

